body {
    height: 100vh;
    width: 100vw;
}

header {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div, header input {
    height: 10vw;
    width: 10vw;
}

main {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixel {
    
}

.pixel-wide {
    
}

.pixel-high {
    
}

.pixel:hover {
    cursor: pointer;
}

#canvas {
    padding: 2px;
    border: 3px double black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}