body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cecece;
}

header {
    padding: 5px;
    flex-direction: column;
}

main {
    height: 85vh;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    max-width: 45vw;
    background-color: whitesmoke;
    color: #333;
    font-size: 1.25em;
    line-height: 1.15;
    padding: 5vw;
    border: 5px solid #333;
    /*border-radius: 5px;*/
}

/* CLASSES */
.flx-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btn {
    max-height: 80px;
    max-width: 80px;
    height: 10vw;
    width: 10vw;
    background-color: whitesmoke;
    cursor: pointer;
}

.header-btn:hover {
    box-shadow: inset 0 0 3px #333;
}

.btn-border {
    border: 1px solid #333;
}

.hidden {
    display: none;
}

.pixel {
    cursor: crosshair;
}

.blocker {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

/* ID:S */
#menu-tgl {
    margin: 5px 0;
    font-weight: 900;
    cursor: pointer;
}

#clear-btn {
    margin: 0 5px;
}

#save-txt, #size-txt {
    text-align: center;
}

#canvas {
    padding: 2px;
    border: 3px double #333;
    display: grid;
    /*grid-template-columns: repeat(16, 1fr);*/
    background-color: #fff;
}

/* RESIZE BOX */
#size-labels {
    display: flex; 
    flex-direction: column;
    margin-right: 10px;
}

.top20 {
    margin-top: 20px;
}

#resize-y {
    cursor: pointer;
}

#resize-y:hover {
    font-weight: 900;
}