body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center  ;
}

header {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#palette {
    display: flex;
    justify-content: center;
    align-items: center;
}

#palette div, #palette input {
    max-height: 80px;
    max-width: 80px;
    height: 10vw;
    width: 10vw;
}

#palette div {
    border: 1px solid #333;
}

main {
    height: 85vh;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.pixel:hover {
    cursor: pointer;
}

#canvas {
    padding: 2px;
    border: 3px double black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}